* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: rgb(228, 227, 227);
    display: flex;
    position: relative;

}

.container {
    padding-left: 270px;
    padding-right: 120px;
    padding-top: 20px;
    background-image: 
    linear-gradient(rgba(150, 215, 218, 0.92), rgba(87, 182, 116,1)),
    url("../img/mainBg.jpg");
    background-size: contain;
    
}

article {
    padding-left: 120px;
    padding-bottom: 80px;
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
}

article button {
    text-align: center;
}

.sideNavBar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 4.5%;
    position: fixed;
    width: 270px;
    height: 100%;
    border-right: 1.5px dashed rgb(53, 53, 53);
    background-image: 
    linear-gradient(rgba(150, 215, 218, 1),rgba(87, 182, 116,1));
    background-size: cover;
    text-align: center;

}

.sideNavBar img{
    padding-bottom: 25px;
}

.sideNavBar h3, h4{
    padding-top: 10px;
    font-size: 24px;
    color: rgb(70, 70, 70);
}

.sideNavBar h4{
    padding-bottom: 25%;
}

.sideNavBar ul{
    padding-top: 25%;
}

.sideNavBar ul li{
    padding: 10px 20px;
    transition: ease 1s;


}

.sideNavBar ul li a{
    color: rgb(70, 70, 70);
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 4px;
    
}


.sideNavBar ul li a:hover{
    background-color: rgb(70, 70, 70);
    color: rgb(238, 238, 238);
    transition: ease 0.2s;
    text-decoration: none;
}

hr{
    width: 55%;
    margin: auto;
}

.bottomSocialBar {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 50px;
    background-image: 
    linear-gradient(to left, rgba(193, 196, 25, 1),rgba(87, 182, 116,1));
    background-size: cover;     position: fixed;
    bottom: 0;
    font-size: 24px;
    font-weight: bold;
}

.bottomSocialBar  #socialMedia {
    display: inline;
}

.bottomSocialBar  #socialMedia li{
    padding-right: 15px;
    padding-top: 7.5px;
    float: right;
}

#iletisim {
    display: inline-block;
    padding-left: 290px;
    font-size: 16px;
}

#iletisim a {
    color: rgb(235, 235, 235);
}

.bottomSocialBar #iletisim li {
    color: rgb(235, 235, 235);
    padding-top: 12px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

h1 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 30px;
}

#etkinlikHeading {
    font-family: 'Mitr', sans-serif; 
    font-size: 30px;
    font-weight: bold;
    display: block; 
    text-align: center;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-bottom: 20px;
}